DATABASE_URL="mysql://user:password@localhost:3306/db-name"
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME="issues"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET=''
